/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/core.light.css';
@import "nativescript-theme-core/css/sky.css";

/*
For example, the following CSS rule changes the font size of all UI
components that have the btn class name.
*/
.btn {
    font-size: 18;
}
@keyframes spin {
    from { transform: rotate(0); }
    to { transform: rotate(360); }
}
Image {
    animation-name: spin; 
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    background:white;
}
.third {
    background-color: #0099CC;
    color: whitesmoke;
    text-align: left;
    vertical-align: center;
}
.odd
{
    background-color: rgb(19, 98, 124);
    color: whitesmoke;
    text-align: left;
    vertical-align: center;
}
.CurrentSelected
{
    background-color: green;
    color: whitesmoke;
    text-align: left;
    vertical-align: center;
}
.header {
    background-color: #0099CB;
    color: whitesmoke;
    border-radius: 3;
}

.footer {
    background-color: #0099CC;
    color: whitesmoke;
    border-radius: 3;
}

.item {
    text-align: left;
    vertical-align: center;
}
.SelectedEditingList
{
    padding:10px;
    background: #cef3ce;
    text-align: center;
}
.boldText{   
    font-weight: bold;
}
.listTitle {
font-size: 25px;
}
.listDetails {
    background:#cef3ce;
    padding: 10px;
}
.listPlay {
    background:#cef3ce;
    padding: 10px;
    margin-left: 5px;
}
.threads-list-wrapper
{
    padding: 30px;
}
    
.threads-list-wrapper > Image {
    height: 64;
    width: 64;
    margin-right: 15;
}