<ActionBar class="action-bar" [nsRouterLink]="['']">
    <Label class="action-bar-title" text="Home hell yeahhh"></Label>
</ActionBar>


<GridLayout class="page">
    <StackLayout class="m-15" sdkExampleTitle sdkToggleNavButton>
        
        <Label class="h3 p-15" [text]="userService.UserFromService?.name" textWrap="true"></Label> 
        <Label class="h3 p-15" [text]="globalListChoice" textWrap="true"></Label> 
        <Label class="h3 p-15" [text]="globalListChoiceId" textWrap="true"></Label> 

        <TextField 
            id="newListTitle"
            hint="My list name" 
           text='Title"'
           [(ngModel)]="_listTitle" 
           secure="false"
           returnKeyType="done" 
           autocorrect="false"
           maxLength="50"
           class="input input-border"></TextField>

           <Button class="btn btn-primary btn-active" id="CreateListButton" text="Create" (tap)="onTap($event)"></Button>


            <ListView [items]="vocablists$ | async" (itemTap)="onItemTap($event)" (setupItemView)="onSetupItemView($event)" class="list-group" HorizontalContentAlignment="Stretch">
                    <!-- <ng-template let-dataitem="item" let-i="index" let-selectedItem="selectedItem">
                        <GridLayout [class.selectedItem]="selectedItem" class="list-group-item">
                            <Label [text]="dataitem?.title" android:class="label-item"></Label>
                            <Label text="hej" android:class="label-item"></Label>
                        </GridLayout>
                    </ng-template> -->
                    <ng-template tkTemplateKey="green" let-dataitem="item">
                            <GridLayout class="threads-list-wrapper" height="100" rows="*" columns="*, *">
                                <Label col="0" stretch="none" android:class="label-item" class="listTitle" [text]="dataitem?.title"></Label>
                                <StackLayout col="1" >
                                    <Label [nsRouterLink]="['/home/singlelist', dataitem?.listid]" (tap)="viewMore($event)" class="listDetails" text="DETAILS" android:class="label-item"></Label>
                                </StackLayout>
                            </GridLayout>

                        <!-- <StackLayout orientation="vertical" class="list-group-item"> 
                            <Label [text]="dataitem?.title" android:class="label-item"></Label>
                            <Label [nsRouterLink]="['/home/singlelist', dataitem?.listid]" (tap)="viewMore($event)" text="LIST DETAILS" android:class="label-item"></Label>
                        </StackLayout> -->
                    </ng-template>
            </ListView>
    </StackLayout>

</GridLayout>  