<ActionBar class="action-bar" [nsRouterLink]="['']">
    <Label class="action-bar-title" text="JapaneseStudy"></Label>
</ActionBar>

<GridLayout class="page" columns="*, auto" rows="*, auto">
    <StackLayout row="0" col="0" class="m-15" sdkExampleTitle sdkToggleNavButton>
        <label [text]="'Your profile ' + userService.UserFromService?.email"></label>
        <Label *ngIf="loading" text="loading..."></Label>
        <Label class="h1" [text]="'Total quiz taken: ' + items?.length"></Label>

        <ListView height="100%" [items]="userCompleteSorted" class="list-group">
            <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
                <StackLayout height="60" class="list-group-item">
                    <Label [text]="item?.getDateShort + ': ' + item?.quizName"></Label>
                    <Label [text]="'Scored:' + item?.correctWords?.length + ' of ' + item?.getTotalQuestions"></Label>
                </StackLayout>
            </ng-template>
        </ListView>

    </StackLayout>
    <Mainmenu row="1" col="0" selectedIndex="2"></Mainmenu>
</GridLayout>