<ActionBar class="action-bar" [nsRouterLink]="['']">
    <Label class="action-bar-title" text="JapaneseStudy"></Label>
</ActionBar>

<GridLayout class="page">
    <StackLayout class="m-15" sdkExampleTitle sdkToggleNavButton>
        <label [text]="'Your profile ' + userService.UserFromService?.name"></label>
        <label class="h2" [text]="'Total correct answers: ' + getAmountofCorrect"></label>
        <label class="h2" [text]="'Total wrong answers: ' + getAmountofWrong"></label>

        <ListView height="700" [items]="userAnswersSorted" class="list-group">
        <ng-template let-item="item" let-i="index" let-odd="odd" let-even="even">
            <StackLayout [class.odd]="odd" [class.even]="even" class="list-group-item">
                <Label [text]="item.answeredShort + ': ' + item.question"></Label>
            </StackLayout>
        </ng-template>
    </ListView>

    </StackLayout>
    <Mainmenu selectedIndex="2"></Mainmenu>
</GridLayout>