<ActionBar class="action-bar" [nsRouterLink]="['']">
    <Label class="action-bar-title" [text]="'Playing quiz from: ' + post?.title"></Label>
</ActionBar>


<GridLayout class="page" columns="*, auto" rows="*, auto">
    <StackLayout row="0" col="0" class="m-15" sdkExampleTitle sdkToggleNavButton
        [visibility]="QuizComplete ? 'collapsed' : 'visible'">
        <Label class="h3 p-15" [text]="infoAboutPreviousEntry" textWrap="true"></Label>
        <StackLayout class="hr-light m-10"></StackLayout>

        <Label class="p-12 MainQuestion" textWrap="true" [nsRouterLink]="['/home/singlelist', globalListChoiceId]">
            <FormattedString>
                <Span [text]="'Question ' + QuestionNumber + ': What is '"></Span>
                <Span class="boldText" [text]="post?.words[currentQuestionIndex]?.english"></Span>
                <Span text=" in japanese?"></Span>
            </FormattedString>
        </Label>

        <Button class="btn btn-primary btn-active" id="Option2"
            [text]="post?.showKanjiOnly ? optionsPerQuestion[currentQuestionIndex]?.options[1].japaneseWordOrReading : optionsPerQuestion[currentQuestionIndex]?.options[1].japaneseFullReading"
            (tap)="onTap($event)" [guess]="optionsPerQuestion[currentQuestionIndex]?.options[1]"></Button>
        <Button class="btn btn-primary btn-active" id="Option3"
            [text]="post?.showKanjiOnly ? optionsPerQuestion[currentQuestionIndex]?.options[2].japaneseWordOrReading : optionsPerQuestion[currentQuestionIndex]?.options[2].japaneseFullReading"
            (tap)="onTap($event)" [guess]="optionsPerQuestion[currentQuestionIndex]?.options[2]"></Button>
        <Button class="btn btn-primary btn-active" id="Option3"
            [text]="post?.showKanjiOnly ? optionsPerQuestion[currentQuestionIndex]?.options[3].japaneseWordOrReading : optionsPerQuestion[currentQuestionIndex]?.options[3].japaneseFullReading"
            (tap)="onTap($event)" [guess]="optionsPerQuestion[currentQuestionIndex]?.options[3]"></Button>
        <Button class="btn btn-primary btn-active" id="Option1"
            [text]="post?.showKanjiOnly ? optionsPerQuestion[currentQuestionIndex]?.options[0].japaneseWordOrReading : optionsPerQuestion[currentQuestionIndex]?.options[0].japaneseFullReading"
            (tap)="onTap($event)" [guess]="optionsPerQuestion[currentQuestionIndex]?.options[0]"></Button>

    </StackLayout>
    <StackLayout width="100%" backgroundColor="white" *ngIf="QuizComplete"
        [visibility]="QuizComplete ? 'visible' : 'collapsed'">
        <StackLayout col="0" row="0">
            <Label class="h1 p-15" text="Quiz completed!" textWrap="true"></Label>
            <Label class="text-center" [text]="statsText"></Label>
            <Button class="btn btn-primary btn-active" id="RetakeQuiz" text="Retake quiz"
                (tap)="retakeQuiz($event)"></Button>
        </StackLayout>
        <StackLayout col="0" row="1">
            <!-- make a gridlayout for this below ... -->
            <label class="h2 p-15" text="Correctly answered" textWrap="true"></label>

            <ListView *ngIf="correctWords.length > 0" [items]="correctWords" class="list-group">
                <ng-template tkTemplateKey="green" let-dataitem="item">
                    <StackLayout orientation="vertical" class="list-group-item">
                        <Label [text]="dataitem.english" android:class="label-item"
                            [nsRouterLink]="['/home/singleword', dataitem?.listid, dataitem?.word_id]"></Label>
                        <Label [text]="dataitem.japanese_word" android:class="label-item"></Label>
                        <Label [text]="dataitem.japanese_reading" android:class="label-item"></Label>
                    </StackLayout>
                </ng-template>
            </ListView>
        </StackLayout>
        <StackLayout col="0" row="2">
            <label class="h2 p-15" text="Mistakenly answered" textWrap="true"></label>

            <ListView *ngIf="mistakeWords.length > 0" [items]="mistakeWords" class="list-group">
                <ng-template tkTemplateKey="green" let-dataitem="item">
                    <StackLayout orientation="vertical" class="list-group-item">
                        <Label [text]="dataitem.english" android:class="label-item"
                            [nsRouterLink]="['/home/singleword', dataitem?.listid, dataitem?.word_id]"></Label>
                        <Label [text]="dataitem.japanese_word" android:class="label-item"></Label>
                        <Label [text]="dataitem.japanese_reading" android:class="label-item"></Label>
                    </StackLayout>
                </ng-template>
            </ListView>
        </StackLayout>
    </StackLayout>
    <StackLayout row="3" col="0">
        <Mainmenu selectedIndex="1"></Mainmenu>
    </StackLayout>
</GridLayout>