<ActionBar class="action-bar" [nsRouterLink]="['']">
    <Label class="action-bar-title" [text]="'Playing quiz from: ' + post?.title"></Label>
</ActionBar>


<GridLayout class="page">
    <StackLayout class="m-15" sdkExampleTitle sdkToggleNavButton [visibility]="QuizComplete ? 'collapsed' : 'visible'">
        <Label class="h3 p-15" [text]="infoAboutPreviousEntry" textWrap="true"></Label>
        <StackLayout class="hr-light m-10"></StackLayout>
        
        <Label class="h3 p-15 MainQuestion" textWrap="true" [nsRouterLink]="['/home/singlelist', globalListChoiceId]">
            <FormattedString>
                <Span [text]="'Question ' + (currentQuestionIndex+1) + ': What is '"></Span>
                <Span class="boldText" [text]="post?.words[currentQuestionIndex]?.english"></Span>

                <Span text=" in japanese?"></Span>
            </FormattedString>
        </Label>

        <Button class="btn btn-primary btn-active" id="Option1"
            [text]="optionsPerQuestion[currentQuestionIndex]?.options[0].japanese_reading"
            (tap)="onTap($event)"></Button>
        <Button class="btn btn-primary btn-active" id="Option2"
            [text]="optionsPerQuestion[currentQuestionIndex]?.options[1].japanese_reading"
            (tap)="onTap($event)"></Button>
        <Button class="btn btn-primary btn-active" id="Option3"
            [text]="optionsPerQuestion[currentQuestionIndex]?.options[2].japanese_reading"
            (tap)="onTap($event)"></Button>
        <Button class="btn btn-primary btn-active" id="Option3"
            [text]="optionsPerQuestion[currentQuestionIndex]?.options[3].japanese_reading"
            (tap)="onTap($event)"></Button>
    </StackLayout>
    <StackLayout class="m-15" sdkExampleTitle sdkToggleNavButton [visibility]="QuizComplete ? 'visible' : 'collapsed'">
            <label *ngIf="QuizComplete" class="h1" text="Quiz completed!"></label>
    </StackLayout>
    <Mainmenu selectedIndex="1"></Mainmenu>
</GridLayout>