<ActionBar class="action-bar" [nsRouterLink]="['']">
        <Label class="action-bar-title" text="Home hell yeahhh"></Label>
      <ActionItem 
          ios.systemIcon="16" 
          ios.position="right"
          *ngIf="userService.UserFromService != null" 
          text="Delete word" 
          (tap)="delete()"
          android.position="popup"></ActionItem>
    </ActionBar>
    
    <GridLayout class="page">
        <StackLayout class="m-15" sdkExampleTitle sdkToggleNavButton>
            
            <!-- <Label class="h3 p-15" [text]="userService.UserFromService?.name" textWrap="true"></Label>  -->
            <!-- <Label class="h3 p-15" [text]="globalListChoice" textWrap="true"></Label>  -->
            <!-- <Label class="h3 p-15" [text]="globalListChoiceId" textWrap="true"></Label>  -->
    
           
            <Label class="h1">
                <FormattedString>
                    <Span [text]="(wordName$ | async)?.japanese_word"></Span> 
                    <Span *ngIf="(wordName$ | async)?.japanese_reading" [text]="'[' + (wordName$ | async)?.japanese_reading + ']'"></Span> 
                </FormattedString>
            </Label>
            <Label class="h1" [text]="(wordName$ | async)?.english"></Label>

            <Label class="h3" text="More meanings" *ngIf="(englishDefinitions$ | async).length > 0"></Label>
            <ListView *ngIf="(englishDefinitions$ | async).length > 0; else loading" [items]="(englishDefinitions$ | async)" class="list-group">
                <ng-template let-item="item" let-i="index">
                        <StackLayout class="list-group-item">
                                <Label [text]="item"></Label>
                        </StackLayout>
                </ng-template>
                <ng-template #loading><Label text="loading..."></Label></ng-template>
            </ListView>
<!-- 
            <ng-container *ngFor = "let s of (wordName$ | async)?.senses">
                    <ng-container *ngFor = "let a of s?.english_definitions">
                            <Label [text]="a"></Label>
                    </ng-container>    
            </ng-container> -->

            <Label class="h3" text="Other forms" *ngIf="(wordName$ | async)?.all_variations; else loading"></Label>
            <!-- <ng-container *ngFor = "let v of (wordName$ | async)?.all_variations">
                    <Label [text]="v.japanese_word"></Label>
                    <Label [text]="v.japanese_reading"></Label>
            </ng-container> -->
            <ListView *ngIf="(wordName$ | async)?.all_variations; else loading" [items]="(wordName$ | async)?.all_variations" class="list-group">
                <ng-template let-item="item" let-i="index">
                    <StackLayout class="list-group-item">
                        <Label [text]="item.japanese_word"></Label>
                        <Label [text]="item.japanese_reading"></Label>
                    </StackLayout>
                </ng-template>
                <ng-template #loading><Label text="loading..."></Label></ng-template>
            </ListView>
            
        </StackLayout>
    
    </GridLayout>  